.title{
  font-family: 'Ysabeau SC', sans-serif ;
  font-size: 3em;
  text-shadow: 5px 5px 10px black;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

}
.title:hover{
  color: #000000;
}

.titleP{
  
  font-family:  'Ysabeau SC', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px black;
  
}
.div1{
 
  color: white;
  
}
body{
  background-color: #1900ff;
  font-family:'Ysabeau SC', sans-serif  ;
  text-shadow: 5px 5px 10px black;
  
}
.img1{
  
  float: left;
  border-radius: 40px;
  width: 650px;
  margin-right: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2{
  float: right;
    border-radius: 40px;
    width: 650px;
    margin-left: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.img3{
  
  float: left;
  border-radius: 40px;
  width: 650px;
  margin-right: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img4{
    float: right;
    border-radius: 40px;
    width: 650px;
    margin-left: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .c1{
    position: absolute;
    top: 40%;
    margin: 40px auto;
    margin-right: 2%;
  }  

  
.c2{

  position: absolute;
  top: 140%;
  margin: 40px auto;
  margin-left: 1%;
  margin-right: 1%;

}
.c3{
  position: absolute;
  top: 240%;
  margin: 40px auto;
  margin-left: 1%; 
  margin-right: 2%;
}  
.c4{
  position: absolute;
  top: 340%;
  margin: 40px auto; 
  margin-left: 1px; 
  margin-right: 1px;
}

  
/* Text Color */
.text{
  color: #fff;
}

.text2{
  color: #fff;
}

.text3{
  color: #fff;
}
.text4{
  color: #fff;
}
.tt{
  color: #fff;
}
/* Sub Heading */
.text h2{
   font-size: 35px;
}
.text2 h2{
  font-size: 35px;
}
.text3 h2{
  font-size: 35px;
}
.text4 h2{
  font-size: 35px;
}

.tt h2{
  font-size: 35px;
}

/* Paragrapgh */
.text p{
  font-size: 18px;
  text-align: justify;
 
}

.text2 p{
  text-align: justify;
  font-size: 18px;
 
}
.text3 p{
  text-align: justify;
  font-size: 18px;
}

.text4 p{
  text-align: justify;
  font-size: 18px;
  
}
.tt{
  text-align: justify;
  font-size: 18px;
}
.div3{
  margin-top: 190%;
 }
.quote-text span{
  display: block;
  text-align: right;
  margin-top: 2rem;
  margin-right: 30px;
  font-size: 1.3rem;
  font-weight: 200;
  text-shadow: 5px 5px 10px black; 
  color: #ffffff;
}
.quote-section{ 
  top: 290%;
  min-height: 210%; 
  border-radius: 30px;
  /* background-color: #ffffff; */
  flex-direction: column;
  text-align: justify; 
  text-shadow: 5px 5px 10px black;
}
 .quotefont{
  /* font-family: 'Montserrat', sans-serif; */
  color: #ffffff;
  font-weight: 900; 
  font-size: 25px;
 }
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
